*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: beige;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 15%);;
}
.navbar li{
    float: left;
}
header{
    background-color: lightgray;
    text-align: center;
    padding: 25px;
}
main{
    margin: 20px;
}



.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsl(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade{
    from{opacity: .5}
    to {opacity: 1}
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 20%;
    float: left;
    padding: 10px;
}
footer{
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
    display: block;
    clear: both;
}

._slidershow{
    width: 600px;
    height: 400px;
    overflow: hidden;
}
._middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(40%, -75%);
}
._navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
}
.bar:hover{
    background: #fff;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
._slides{
    width: 500%;
    height: 100%;
    display: flex;
}
._slide{
    width: 20%;
    transition: 0.6s;
}
._slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}